		</body>
		<!--MORIS TABLES -->   
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
	$( '.logout' ).click(function(event) {
		event.preventDefault();

		$.post('backend/auth.php', { logout: 'true' })
		 	.done(function() {
		 	    location.reload();
			});
	});
</script>

</html>
