

body {
  min-height: 1000px;
}

.lightblueborder{
border: 1px solid #B1CDDD  
}


.lottimer{
	background-color:#CADBE2; 
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	border-radius: 15px;
	width:150px;
	border:1px solid #97B3C2;
}
.lottimer_active{
	background-color:#97B3C2; 
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	border-radius: 15px;
	width:150px;
	border:1px solid #97B3C2;
}
.banner_r {
	background-color:#EFEFEF; 
	padding-top:14px; 
	padding-bottom:14px; 

}
.LotContainer{
    border:2px solid #CADBE2;
    display: inline-block;
    margin:5px;
    width:190px;
    
}
.LotContainer td{
    padding:2px;
}
.LotContainer tr.closerow{
    background-color: #CADBE2;
    color:#6F848E;
    text-align:center;
}
.LotContainer tr.closerow td{
    padding: 9px;
}
.LotContainer_active{
    border:2px solid #97B3C2;
    display: inline-block;
    margin:5px;
    width:190px;
}


.navbar-static-top {
 
  margin-bottom: 19px;
  border-bottom: 1px solid #B1CDDD;
  background-color: #E6EFF4;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav > li > a {
    padding: 10px 10px;
}
.navbar-brand {
    float: left;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    min-height: 40px;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #C6DFEF;
}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    text-decoration: none;
    background-color: #C6DFEF;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #C6DFEF;
}

.FLtopmenu a{
	color: #2D3540;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: medium none;
}
.FLstavki a{
font-size: 10px;
margin-bottom: 0px;
padding-top: 6px !important;
padding-bottom: 6px !important;
line-height: 14px !important;
align-content: center;
text-align: center;}

.dropdown-menu{
	border: 1px solid #708CA9;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus  {
    background-color: #C6DFEF;
    border-color:#B1CDDD;
    color:#000;
}


.navbar .navbar-toggle {
    border-color:#C6DFEF;
    background-color: transparent;
}

/*Черная кнопочка для средней менюшки*/
.btn-black {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
   color:#ffffff; 

   border-radius: 0px;
}
.btn-black.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-black .badge {
  text-shadow: none;
}
.btn-black {
 background-color: #000000;
  border-color: #000;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  background-color: #000B49;
  color:#D1FFFC;

}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #000077;
  background-image: none;
}

.mybut:hover > .dropdown-menu { 
    display: block; 
}
/* */
/*Прозрачная кнопочка для средней менюшки*/

.btn-panel.disabled,
.btn-panel[disabled],
fieldset[disabled] .btn-panel {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-panel .badge {
  text-shadow: none;
}
.btn-panel {
 background-color: transparent;
  border-color: #64697A;
  color:#64697A;
  border-radius: 0px;
  height:38px;
  border:0px;
}
.btn-panel:hover,
.btn-panel:focus,
.btn-panel:active,
.btn-panel.active {
  background-color: #B0B4C2;
  color: #FFF;

}

.btn-panel.disabled,
.btn-panel[disabled],
fieldset[disabled] .btn-panel,
.btn-panel.disabled:hover,
.btn-panel[disabled]:hover,
fieldset[disabled] .btn-panel:hover,
.btn-panel.disabled:focus,
.btn-panel[disabled]:focus,
fieldset[disabled] .btn-panel:focus,
.btn-panel.disabled.focus,
.btn-panel[disabled].focus,
fieldset[disabled] .btn-panel.focus,
.btn-panel.disabled:active,
.btn-panel[disabled]:active,
fieldset[disabled] .btn-panel:active,
.btn-panel.disabled.active,
.btn-panel[disabled].active,
fieldset[disabled] .btn-panel.active {
  background-color: #000077;
  background-image: none;
}



/*Анимация ставки*/
.toSmallWidth {
    -webkit-animation-name:animBG; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    -webkit-animation-duration:0.5s; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    animation-name:animBG; /* указываем название ключевых кадров (находятся ниже)*/
    animation-duration: 0.5s; /*задаем длительность анимации*/
}
 
/* ключевые кадры с префиксом для браузеров Chrome, Safari, Opera */
@-webkit-keyframes animBG {
    from {background-color: #A61414; color: #FFF;}
    to {background-color: #CADBE2;color: #000}
}
 
@keyframes animBG {
    0% {background-color: #FFF; color: #FFF;} /*первый ключевой кадр, где ширина блока 800px*/
    30% {background-color: #A61414;} /*первый ключевой кадр, где ширина блока 800px*/
    100% {background-color: #CADBE2;color: #000} /*последний ключевой кадр, где ширина блока 100px*/
}

.animName {
    -webkit-animation-name:animText; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    -webkit-animation-duration:0.5s; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    animation-name:animText; /* указываем название ключевых кадров (находятся ниже)*/
    animation-duration: 0.5s; /*задаем длительность анимации*/
}
 
/* ключевые кадры с префиксом для браузеров Chrome, Safari, Opera */
@-webkit-keyframes animText {
    from {text-shadow:0 0 20px #A61414; color: #FFF;}
    to {text-shadow:0 0 20px  #CADBE2;color: #000}
}
 
@keyframes animText {
    from {text-shadow:0 0 10px #000, 0 1px black, 1px 0 2px black, 0 -1px black  ; color: #FFF;} /*первый ключевой кадр, где ширина блока 800px*/
    to {text-shadow:0 0 0px #CADBE2;color: #000} /*последний ключевой кадр, где ширина блока 100px*/
}

.animInfo {
    -webkit-animation-name:animInfoK; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    -webkit-animation-duration:0.3s; /* свойство с префиксом для браузеров Chrome, Safari, Opera */
    animation-name:animInfoK; /* указываем название ключевых кадров (находятся ниже)*/
    animation-duration: 0.3s; /*задаем длительность анимации*/
}
 
/* ключевые кадры с префиксом для браузеров Chrome, Safari, Opera */
@-webkit-keyframes animInfoK {
    from {opacity:0;}
    to {opacity:1;}
}
 
@keyframes animInfoK {
    from {opacity:0;}
    to {opacity:1;}
}

/* Admin секция */
table.admin{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #333;
  border:0px;

}
table.admin td{
  padding:5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:1px solid #CADBE2;
  text-align: center;
}

tr.col1{
  background-color: #Ffffff;
  color: #000;
}
tr.col2{
  background-color: #F8F8F8;
  color: #000;
}
tr.col1:hover, tr.col2:hover{
  background-color: #969AA5;
  color: #FFFFFF;
}

/* Окно Login */
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.lot-right{
  background-color: #E6EFF4;
  border: 1px solid #97B3C2;
}