body{
  background: url('view-source:http://breakbox.ru/images/mainbg.jpg');
}
.btn-blue {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
   color:#ffffff; 

   border-radius: 0px;
}
.btn-blue.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-blue .badge {
  text-shadow: none;
}
.btn-blue {
 background-color: #00ADEF; 
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #458CCC;
  color:#FFF;

}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #000077;
  background-image: none;
}

.colomn1{
  margin: 5px;  
  width: 25%;
  vertical-align: top; 
}
.colomn2{
   width: 50%;   
  vertical-align: top;
}
.colomn3{
  width: 25%; 
  vertical-align: top;
}

div.blueblock{
  background-color: #6DCFF6;  /*527397 */
  color: #FFF;
  margin-right:10px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px;
}

div.whiteblock{
  background-color: #FFF;  
  color: #000;
}
table.wtbl td{
  background-color: #6DCFF6; 
  color: #FFF;
  text-align: center;

}
span.stake{
  font-size: 50px;
  font-family:  arial, sans-serif;
  line-height: 50px;
}
span.staketxtsmall{
   font-size: 22px;
   font-family:  arial, sans-serif;
   line-height: 22px; 
}

span.txtsmall{
   font-size: 12px;
   font-family:  arial, sans-serif;
   line-height: 12px; 
}

input.blueinput{
 height:22px;
 background-color: #6DCFF6; 
 border:1px solid #00ADEF;
 padding-left:5px; 
 margin-top:2px;
 width:100%;
}
input.blueinput:hover{
 border:2px solid #00ADEF;
}

textarea.whiteinput{
 height:22px;
 color:#458CCC;
 background-color: #fff; 
 border:1px solid #00ADEF;
 padding-left:5px; 
 margin-top:2px;
 width:100%;
}
textarea.whiteinput:hover{
 border:2px solid #00ADEF;
}


ul.whitemenu{
  list-style: none;
  padding-left: 0px;
  padding-top:10px;
}
.bluecheck{
 height:25px;width:25px;
 background-color: #6DCFF6; 
 border:1px solid #00ADEF;
 padding:1px; 
 margin-top:2px;
 display: inline-block;
}
.bluecheck:hover{
 border-width:2px;
 padding:0px;
}
.bluecheck_checked{
 background-color: #00ADEF; 
 border:1px solid #458CCC;
}

.whitecheck{
 height:25px;width:25px;
 background-color: #FFF; 
 border:1px solid #00ADEF;
 padding:1px; 
 margin-top:2px;
 display: inline-block;
}
.whitecheck:hover{
 border-width:2px;
 padding:0px;
}
.whitecheck_checked{
 background-color: #FFF; 
 border:1px solid #458CCC;
}

ul.whitemenu a{
  color: #FFF;
  font-size: 20px;
}

ul.whitemenu li:hover{
  list-style-type: disc;
  padding-left: 0px;
  margin-left: 13px;
}

ul.whitemenu a:hover{
  text-decoration: none;
}

a.smwlink{
  color: #FFF;
  font-size: 13px;
}
.btn-login{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
}

span.timecounter{
  font-family: tahoma;
  font-size:150px;
  line-height: 270px; 
  text-align: center;
}
span.timecountersmall{
  font-family: tahoma;
  font-size:60px;
  line-height: 120px; 
  text-align: center;
}


#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#FFFFFF;
  display:none;
  font-family: Georgia;
  }
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding-top:0px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  text-align: center;
  background-color:#FFF;
  border:solid 1px #2B587A;
  }

.window p{
  margin-top:20px;
  font-size: 15px;
  }
#boxes #dialog {
  width:375px;
  height:203px;
  padding:2px;
  }

#blockC1 p{
  text-align: justify;
}
#blockC1 li{
  padding-left: 5px;
  text-align: justify;
}

.text-left {
  text-align: left !important;
}

.slider.slider-horizontal {
    margin-top: 7px !important;
}

