.login-page {
	background-image: url(/ws-shop/img/bg-img/bg-img-5.jpg);
	background-size: cover;
}




/**

 CHANGE LIBRARY STYLES:
 BOOTSTRAP AND NIFTY;
======================
*/
.pad-lft {
	padding-left: 0;
}


.media-body, .media-right {
    padding: 7px 0 0 5px;
}


/* experimental */
.panel.panel-colorful {
    height: 163px;
}

.panel.panel-colorful .panel-heading, 
.panel.panel-colorful>:first-child {
	padding-bottom: 10px;
}

.panel.panel-colorful.panel-warning .panel-footer, 
.panel.panel-colorful.panel-warning>:last-child {
	/*padding-top: 0px;*/
}

.border-top {
    border-top: 1px solid #eee;
}

.errors {
	border: 1px solid #ff4343;
}

.errors:focus {
	border: 1px solid #ff4343;
}

span.red {
	color: red;
}

.slider-selection {
	background: #BABABA !important;
}

.slider.slider-horizontal {
	margin-top: 5px;
}

.fileform {
	background-color: #FFFFFF;
	border: 1px solid #e9e9e9;
	border-radius: 2px;
	cursor: pointer;
	height: 35px;
	overflow: hidden;
	padding: 2px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 230px;
}

.fileform.news {
    width: 100%;
}

.fileform .selectbutton {
	color: #FFFFFF;
	float: right;
	font-size: 16px;
	height: 29px;
	line-height: 20px;
	overflow: hidden;
	padding: 2px 6px;
	text-align: center;
	vertical-align: middle;
	width: 86px;
}

.fileform #upload-logo,
.fileform #upload-big,
.fileform #upload-news {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	height: 30px;
	z-index:20;
}

.fileform #fileformlabel-logo,
.fileform #fileformlabel-big,
.fileform #fileformlabel-news {
	background-color: #FFFFFF;
	float: left;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
	width:120px;
}

.text-left {
    text-align: left;
}

#content-container.news {
    display: inline-block;
    height: 100%;
}

.add-news {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 2em;
    border: 1px solid #e7ecf3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 50%;
}

.news-img {
	position: relative;
	display: block;
	width: 100%;
}