		</body>
<script>
	$( '.logout' ).click(function(event) {
		event.preventDefault();

		$.post('backend/auth.php', { logout: 'true' })
		 	.done(function() {
				location.reload();
			});
	});
</script>

</html>
